:root {
  --dialog-background-color: #e7c17a;
  --dialog-color: #2b142b;
}

menu {
  position: absolute;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 3em 0 0;
  top: 1em;
  right: -100%;
  /* my own */
  z-index: 2;
  width:80%;
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  transition: .3s ease-out;
  border: 1vh solid #8a6d38;
  border-radius: 1em;
}

menu li {
  line-height: 4vw;
  list-style: none;
/*  max-height: 0;
  max-width: 0;
  overflow: hidden;
*/

  font-family: Arial, Verdana, sans-serif;
}
menu a {
  color:  var(--dialog-color);
  display: inline-flex;
  text-decoration: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
}

menu a:hover {
  background-color: yellowgreen;
}

#menuToggle {
  display: none;
}
/*
#menuToggle:checked ~ * {
  background-color: yellow;
}
*/
#menuToggle:checked ~ menu {
  background-color: var(--dialog-background-color);
  top: 1em;
  right: 1em;
}

#menuToggle:checked + .btn-menu:before {
  background-size: 1.5em 0.25em, 0.25em 1.5em;
  background-position: center, center;
  transform: rotate(-135deg);
}
/*
#menuToggle:checked menu ~ li {
  max-height: 2.75em;
  max-width: 10em;
  padding: 0 2em 0 1em;
  transition: max-height 200ms, max-width 400ms;
}
*/
.btn-menu {
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-align: right;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 3;
}
.btn-menu:before {
  background-image: linear-gradient(to top, orange, orange), linear-gradient(to top, orange, orange), linear-gradient(to top, orange, orange);
  background-position: left 50% top 30%, left 50% bottom 50%, left 50% bottom 30%;
  background-repeat: no-repeat;
  background-size: 1.5em 0.25em, 1.5em 0.25em, 1.5em 0.25em;
  content: "";
  display: inline-block;
  height: 2.75em;
  transition: transform 300ms, background-position 200ms;
  vertical-align: top;
  width: 2.75em;
}
